.footer{
	position: fixed;
    height: 70px;
    width: 70%;
    background-color:#C3C7CC;
    text-align: center;
    justify-content: space-between;
}

.barre a{
	color:black;
}

.my-icon{
	color:#3D3F3E;
	position: flex;
	padding: 20px;
	padding-left:100px;
}

.my-footer{
    background-color:#D3D3D3;
     
}
	
   
.menu{
	padding: 10px;

}




