
.boutton {
color: white;
background-color:#E86C60;
padding: 16px 32px;
border-radius: 5px;
vertical-align:middle;
text-align: center; 
font-family: Rubik;
font-size: 30px;
}


.boutton:hover {
	text-decoration: none;
	color:black;

}